@import '../../mixins.scss';

.panel {
    display: flex;

    &__horizontal {
        flex-direction: row;
        max-width: 100%;
    }

    &__vertical {
        flex-direction: column;

        &::-webkit-scrollbar { /* webkit */
            display: none;
        }

        scrollbar-width: none; /* Firefox */

        @media screen and (max-height: 500px) {
            overflow: auto;
        }
    }

    &-button {
        display: block;
        padding: .5rem;
        line-height: 0;
        position: relative;

        &:hover {
            background: rgba($color: #ffffff, $alpha: .1);
        }

        &__disabled {
            opacity: .4;
            cursor: not-allowed;

            &:hover {
                background: none;
            }
        }

        &-label {
            position: absolute;
            background: rgba($color: #000000, $alpha: .8);

            line-height: 25px;
            padding: 0 8px;
            white-space: nowrap;

            border-radius: 4px;

            transition: transform .1s, opacity .1s;

            opacity: 0;

            @include non-select;
            @include non-interactive;

            .panel__horizontal & {
                top: 100%;
                transform: translateY(-100%);
            }

            .panel__vertical & {
                left: 100%;
                transform: translateX(-100%);
            }

            .panel-button:hover & {
                transform: translate(5px, 0);
                opacity: 1;
            }
        }
    }

    &-text {
        padding: 0 12px;
        align-self: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
