.panel {
    display: flex;

    &__horizontal {
        flex-direction: row;
        max-width: 100%;
    }

    &__vertical {
        flex-direction: column;
    }

    &-button {
        display: block;
        padding: .5rem;
        line-height: 0;

        &:hover {
            background: rgba($color: #ffffff, $alpha: .1);
        }

        &__disabled {
            opacity: .4;
            cursor: not-allowed;

            &:hover {
                background: none;
            }
        }
    }

    &-text {
        padding: 0 12px;
        align-self: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
