@import '../../mixins.scss';

.tool {
    &-empty {
        text-align: center;
        padding: 20px 0;
        color: gray;
    }

    &-apply {
        display: block;
        background: transparent;
        border: none;
        color: white;
        font-family: inherit;
        padding: 0 15px;
        line-height: 2.5;
        transition: background ease-in-out .1s;
        width: 100%;

        @include hover-background;

        svg {
            margin-right: 15px;
            vertical-align: middle;
        }
    }
}

.paint {
    display: flex;
    flex-flow: row nowrap;

    &-color {
        position: relative;
        display: inline-block;
        padding: 10px;
        min-width: 40px;

        input {
            @include size(30px);
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            outline: none;
        }

        @include hover-background;
    }

    .range {
        flex: 1;
    }
}