.panel--image {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;

    background: #444444;

    overflow: auto;

    .canvas {
        display: block;
        margin: auto;
        // transition: width .05s, height .05s;
        box-shadow: 0 0 2px 1px rgba($color: #000000, $alpha: .5);
    }
}
